*, *::before, *::after{
    margin: 0;
    // padding: 0;
    box-sizing: border-box;
}

$color-primary: #5999DF;
$color-blue-dark: #06283D;
$color-blue-light: #dff6ff;
$color-black: #111;
$panel-background: rgba(110,110,110,0.25);
$panel-border: rgba(255,255,255,0.18);
$color-white: #fff;
$color-gray: #ccc;

html {
    font-size: 62.5%; // 1 rem = 10px

}

body{
    background: $color-black;
}

