@media only screen and (max-width: 50em) {
    .weather__app-panel, .weather__app{
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media only screen and (max-width: 31.25em){
    html {
        font-size: 43.75%; // 1rem = 7px
    }

    .weather__app-panel{
        height: 90vh;
        overflow: none;
    }

    .weather__app-city-time {
        margin: 0 3rem;
    }
}

@media only screen and (max-width: 25em){
    html {
        font-size: 36%;
    }
}